@import url('variables.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--pink-light);
}

.header img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.nav-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-container ul li {
  display: flex;
  gap: 5px;
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s;
  gap: 10px;
}

/* Contenedor nav-item que agrupa íconos y texto */
.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s, transform 0.3s;
  /* Se asegura de que ambos (ícono y texto) tengan transición de color */
}

/* Hover sobre el contenedor nav-item */
.nav-item:hover i, .nav-item:hover a {
  cursor: pointer;
  color: var(--pink-dark); /* Cambiar color de texto e icono al hacer hover */
  transform: scale(1.1); /* Le damos un pequeño zoom al pasar el cursor */
}

/* Estilos para los íconos */
.nav-item i {
  color: var(--text-color);
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease; /* Transición para color y tamaño */
}

/* Estilos para los enlaces */
.nav-item a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease; /* Transición suave de color del texto */
}

/* Estilos para el botón hamburguesa */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s;
}

.hamburger:hover {
  color: var(--pink-dark);
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .nav-container {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--pink-light);
    width: 100%;
    height: 340px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(100%); /* Inicialmente oculto */
  }

  .nav-container.open {
    transform: translateX(0); /* Muestra el menú cuando se abre */
  }

  .nav-container ul {
    display: block;
    width: 100%;
  }

  .nav-container ul li {
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }

  .hamburger {
    display: block;
  }

  .nav-container ul li a {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: var(--text-color);
  }
  .nav-item{
    gap: 25px;
    padding: 10px;
    width: 100%;
  }
  .nav-item:hover {
    background-color: var(--pink-dark);
    transform: scale(1.01); /* Le damos un pequeño zoom al pasar el cursor */
  }
  .nav-item:hover i, .nav-item:hover a {
    color: var(--white); /* Cambiar color de texto e icono al hacer hover */
  }
}
