:root {
  /* Pastel Color Palette */
  --pink-light: #f8d7da;
  --beige: #f5f5dc;
  --mint: #d0f0e0;
  --white: #ffffff;
  --pink-dark: #e75480;
  --text-color: #333333;
  --whatsapp-green: #25d366;
  
  /* Typography */
  --main-font: 'Arial', sans-serif;
}

*{
  padding: 0 ;
  margin: 0;
  font-family: var(--main-font);
}